<!DOCTYPE html>
<html>
<head>
	<title>Faquiu</title>
</head>
<body>
	<h1>Faquiu</h1>
	<form action="/iniciar" method="post">
		<input type="submit" name="iniciar" value="iniciar" />
	</form>
</body>
</html>