<!DOCTYPE html>
<html>
<head>
	<title>Faquiu</title>
</head>
<body>
	<center><h1>Faquiu</h1></center>
	<form action="/iniciar" method="post">
		<center><input type="submit" name="iniciar" value="iniciar" /></center>
	</form>
</body>
</html>