<!DOCTYPE html>
<html>
<head>
	<title>Faquiu</title>
</head>
<body>
	<center><h1>Bienvenido a Faquiu</h1></center>
	<center><h2>Piensa en la persona a la que le quisieras regalar un faquiu, concéntrate y lanza!</h2></center>
	<center><h3>Que el destino te sea propicio y que el viento esté contigo.</h3></center>
	<form action="/resultado" method="post" >
		<input type="hidden" id="ambiente" name="ambiente" value="produccion"/>
		<input type="hidden" id="resultado" name="resultado"/>
		<input type="hidden" id="viento" name="viento"/>
		<center>Ingresa tu fuerza: <input type="text" id="fuerza" name="fuerza" autocomplete="off"/></center>
		<center><input type="submit" name="lanzar" value="lanzar"/></center>
	</form>
</body>
</html>