<!DOCTYPE html>
<html>
<head>
	<title>Faquiu</title>
</head>
<body>
	<center><h1>Bienvenido a Faquiu</h1></center>
	<form action="/resultado" method="post" >
		<center><input type="submit" name="lanzar" value="lanzar"/></center>
	</form>
	
</body>
</html>