<!DOCTYPE html>
<html>
<head>
	<title>Faquiu</title>
</head>
<body>
	<center><h1>Bienvenido a Faquiu</h1></center>
	<form action="/resultado" method="post" >
		<input type="hidden" id="ambiente" name="ambiente" value="produccion"/>
		<input type="hidden" id="resultado" name="resultado"/>
		<input type="text" id="fuerza" name="fuerza"/>
		<center><input type="submit" name="lanzar" value="lanzar"/></center>
	</form>
	
</body>
</html>